<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-flex justify-content-center"
      id="navbarNav"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="./page1"
            >Page 1</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="./page2">Page 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="./page3">Page 3</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="input-group mb-3 m-5">
    <input
      type="text"
      class="form-control"
      placeholder="Type something you want to add to youre ToDoList"
      aria-label="Recipient's username"
      aria-describedby="button-addon2"
    />
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">
      Add!
    </button>
  </div>
  <ol class="list-group list-group-numbered m-5">
    <div class="d-flex d-row mb-3">
      <li class="list-group-item w-100 me-5">A list item</li>
      <button type="button" class="btn btn-danger me-5">X</button>
      <div class="form-check">
        <input
          class="form-check-input me-1"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Complete!
        </label>
      </div>
    </div>
    <div class="d-flex d-row mb-3">
      <li class="list-group-item w-100 me-5">A list item</li>
      <button type="button" class="btn btn-danger me-5">X</button>
      <div class="form-check">
        <input
          class="form-check-input me-1"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Complete!
        </label>
      </div>
    </div>
    <div class="d-flex d-row mb-3">
      <li class="list-group-item w-100 me-5">A list item</li>
      <button type="button" class="btn btn-danger me-5">X</button>
      <div class="form-check">
        <input
          class="form-check-input me-1"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Complete!
        </label>
      </div>
    </div>
  </ol>
</div>
